body{
     font-family: "Plus Jakarta Sans", sans-serif !important;
     display:flex;
     flex-direction:column;
     min-height:100vh;
}
.container{
   flex:1;
}
  /* Navbar */
 .navbar{
height:4rem;
background-color:white;
 }
 .fa-compass{
    color:#fe424d;
    font-size:2rem;
 }
 .nav-link{
    color:#222222 !important;
 }

 /* Footer */
 .f-info-links a{
    text-decoration:none;
    color:#222222;
 }
  .f-info-links a:hover{
   text-decoration:underline;
 }
 .f-info-links{
    width:100%;
 }
 .f-info-links i{
    font-size:1.2rem;
    margin-right:1rem;
 }
 .f-info-social{
    width:100%;
 }
 .f-info-brands .f-info-links .f-info-social{ 
    display:flex;
    align-items:center;
    justify-content:center;
 }
 .f-info{
    text-align:center;
    display:flex;
    flex-wrap:wrap;
    align-items:space-evenly;
    justify-content:center;
    background-color:#ebebeb;
    height:5rem;
 }

 /*  Cards */
 .card{
    border:noe !important;
    margin-bottom:2rem;
 }
 .card-img-top{
    width:100% !important;
    object-fit:cover !important;
 }
 .card-body{
    margin:0 !important;
 }
 .card-text p{
    font-weight:400 !important;
 }
 .listing-link{
    text-decoration:none;
 }

 /* Card Effect */

 .card-img-overlay{
    opacity:0;
 }
 .card-img-overlay:hover{
    opacity:.2;
    background-color:white;
 }

 /* New Page */  
 .add-btn{
   background-color:#fe424d !important;
   color:white !important;
   font-size:20px !important;
   box-shadow:0px 0px 2.5px black !important;
 }

 /*  Show Page */

 .show-img{
   height:30vh;
   width:100% !important;
 }
  .btns{
   display:flex !important;
 }
.edit-btn{
    background-color:#fe424d !important;
   color:white !important;
   box-shadow:0px 0px 2.5px black !important;
   border: none !important;
}
.shoq-card{
   padding-left:0;
   padding-right:0;
   border:none !important;
}


 